.TopNav a {
    text-decoration: none;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.TopNav a:hover {
    text-decoration: underline;
    color: black;
}

.TopNavTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

.TopNavTitle:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-decoration: underline;
}

.TopNav-Help-Form-Title {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

.Form-Issue-Explain-Input {
    font-family: sans-serif;
    width: 170px;
    height: 150px;
}

.hr {
    text-decoration: solid;
}